    <ion-header>
        <ion-navbar color="primary">
            <ion-title>{{dragonfly.commonName}} - <i>{{dragonfly.latinName}}</i></ion-title>
        </ion-navbar>
    </ion-header>
    <ion-content>
        <ion-tabs tabsHighlight="true">
            <ion-tab [root]="dragonflyHomeTabPage" [rootParams]="dragonfly" tabTitle="Critères" ></ion-tab>
            <ion-tab [root]="dragonflyPicturesTabPage" [rootParams]="dragonfly" tabTitle="Photos"></ion-tab>
            <ion-tab [root]="dragonflyInfoTabPage" [rootParams]="dragonfly" tabTitle="Infos"></ion-tab>
            <ion-tab [root]="dragonflyDistributionTabPage" [rootParams]="dragonfly" tabTitle="Répartition"></ion-tab>
        </ion-tabs>
    </ion-content>
