img.img-map-distribution{
    position: absolute;
    width: 90%;
    margin: 0 auto;
    top: 50%;
    transform:translateY(-50%);
    border: 2px solid rgba(200,200,200,1);
    border-radius: 5px;
}
img.img-legende-distribution{
    margin: auto;
}
