<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Autres
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <img src="assets/img/s_sanguineum2.jpg"/>
    </ion-card>
    <ion-list inset>
        <button ion-item [navPush]="infoSheetPage">
            <ion-thumbnail item-left>
                <img src="assets/img/thumbnail-infos.png">
            </ion-thumbnail>
            Fiches infos
        </button>
        <button ion-item [navPush]="observationInputPage">
            <ion-thumbnail item-left>
                <img src="assets/img/thumbnail-observation.png">
            </ion-thumbnail>
            Saisie d'une observation
        </button>
        <button ion-item [navPush]="helpPage">
            <ion-thumbnail item-left>
                <img src="assets/img/thumbnail-aide.png">
            </ion-thumbnail>
            Aide
        </button>
    </ion-list>
</ion-content>
