<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Autres
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list inset>
        <button ion-item [navPush]="infoSheetPage">
            <ion-thumbnail item-left>
                <img src="assets/img/mp-fichesinfos-01.png">
            </ion-thumbnail>
            <span id="title-info">Fiches infos</span>
        </button>
        <button ion-item [navPush]="observationInputPage">
            <ion-thumbnail item-left>
                <img src="assets/img/mp-observations-01.png">
            </ion-thumbnail>
            <span id="title-observation">Saisie d'une observation</span>
        </button>
        <button ion-item [navPush]="helpPage">
            <ion-thumbnail item-left>
                <img src="assets/img/mp-apropos-01.png">
            </ion-thumbnail>
            <span id="title-help">À propos</span>
        </button>
    </ion-list>
</ion-content>
