page-home {
    height: 100%;
}
#title-info{
    color: #23cdfc;
    font-weight: bold;
}
#title-observation{
    color: #fec92e;
    font-weight: bold;
}
#title-help{
    color: #fc591f;
    font-weight: bold;
}
