<ion-content>
  <h6>Avertissement : pop-up à la 1e utilisation</h6>
  <img src="./assets/img/app-logo.png"/>
  <div> 
    <p>Bienvenue dans l’application Libellul’ID !</p>
    <p>Cette application permet de découvrir les
        libellules les plus communes de Suisse
        romande.
    </p>
    <p> <img src="./assets/img/warning.png" style="height: 1em;"/> Les libellules volent quand le temps
        est ensoleillé et chaud. Elles s’observent
        surtout entre mai et octobre.
        Profitez de les admirer sans les capturer !
    </p>     
  </div>
  <button ion-button block (click)="dismiss()">Fermer</button>
</ion-content>
