<ion-content>
    <ion-list>
        <ion-item *ngFor="let walk of walksData" (click)="openPage(walk)">
            <ion-thumbnail item-left>
                <img src="assets/img/{{walk.pictures}} ">
            </ion-thumbnail>
            <h2 colspan="2" class="walkTitle" text-wrap no-lines>{{walk.id}}. {{walk.name}}</h2>
            <table class="walkItem">
                
                
                
                <tr>
                    <td class="walkDuration">
                        <ion-icon name="time"></ion-icon> {{walk.duration}}
                    </td>
                    <td class="walkDiversity">
                        Variété 
                        <img class="pictoVariety" src="assets/img/picto-libelulle.png" *ngFor="let i of getNumber(walk.diversity)">
                    </td>
                    
                    
                    
                </tr>
                <tr>
                    <td class="walkDuration">
                        {{walk.length}}km
                    </td>
                    
                </tr>
            </table>
        </ion-item>
    </ion-list>

    <!--
        Bouton d'ajout d'itinéraire - NON FONCTIONNEL
    <button ion-fab id="btn-add" color="primary" showWhen="android" (click)="openModal()"><ion-icon name="add" color="light"></ion-icon></button>-->
</ion-content>
