<ion-content>
    <ion-list>
        <ion-item *ngFor="let walk of walksData" (click)="openPage(walk)">
            <ion-thumbnail item-left>
                <img src="assets/img/{{walk.pictures}} ">
            </ion-thumbnail>
            <table class="walkItem">
                <tr>
                    <td colspan="2" class="walkTitle">{{walk.id}}. {{walk.name}}</td>
                </tr>
                <tr>
                    <td class="walkDuration">
                        <ion-icon name="time"></ion-icon> {{walk.duration}}
                    </td>
                    <td class="walkDiversity">
                        Diversité <img class="imgDiversity" src="assets/img/diversite-{{walk.diversity}}.png">
                    </td>
                </tr>
            </table>
        </ion-item>
    </ion-list>

    <!--
        Bouton d'ajout d'itinéraire - NON FONCTIONNEL
    <button ion-fab id="btn-add" color="primary" showWhen="android" (click)="openModal()"><ion-icon name="add" color="light"></ion-icon></button>-->
</ion-content>
