<ion-header>
  <ion-navbar color="primary" class="show-back-button">
    <ion-title>
      Promenades
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let walk of walksData" (click)="openPage(walk)">
            <ion-thumbnail item-left>
                <img src="assets/img/{{walk.pictures[1]}} ">
            </ion-thumbnail>
            <table class="walkItem">
                <tr>
                    <td colspan="2" class="walkTitle">{{walk.id}}. {{walk.name}}</td>
                </tr>
                <tr>
                    <td class="walkDuration">
                        <ion-icon name="time"></ion-icon> {{walk.duration}}
                    </td>
                    <td class="walkDiversity">
                        Diversité <img class="imgDiversity" src="assets/img/diversite-{{walk.diversity}}.png">
                    </td>
                </tr>
            </table>
        </ion-item>
    </ion-list>
</ion-content>
