.contenuCentre{
    width: 100%;
    text-align: center;
}

.photoEnTete{
    width: 65%;
}

.partager{

}
.transmettre{

}

.tableCriteres{
    width : 100%;
    border-width : 2px;
    border-color : black;
    border-style : solid;
    border-radius : 2px;
    tr, td{
        border-width : 1px;
        border-color : black;
        border-style : solid;
    }
    td{
        padding : 3px;
        width : 50%;
    }
}
