<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Libellul'ID
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <img src="assets/img/photo_menu.jpg"/>
    </ion-card>
    <ion-list inset>
        <button ion-item [navPush]="identifyPage">
            <ion-thumbnail item-left>
                <img src="assets/img/mp-identifier-01.png">
            </ion-thumbnail>
            <span id="title-identification">Identification</span>
        </button>
        <button ion-item [navPush]="promenadesPage">
            <ion-thumbnail item-left>
                <img src="assets/img/mp-promenades-01.png">
            </ion-thumbnail>
            <span id="title-walks">Promenades</span>
        </button>
        <button ion-item [navPush]="otherPage">
            <ion-thumbnail item-left>
                <img src="assets/img/mp-autres-01.png">
            </ion-thumbnail>
            <span id="title-others">Autres</span>
        </button>
    </ion-list>
</ion-content>
