<ion-content>
  <h2>Informations</h2>
  <p>
      Ceci est un texte d'information à propos de l'outil d'identification. Ceci est un texte d'information à propos de l'outil d'identification.
      Ceci est un texte d'information à propos de l'outil d'identification. Ceci est un texte d'information à propos de l'outil d'identification.
      Ceci est un texte d'information à propos de l'outil d'identification. Ceci est un texte d'information à propos de l'outil d'identification. 
  </p>
  <button ion-button block (click)="dismiss()">Fermer</button>
</ion-content>
