<ion-content>
  <h2>Aide à l’identification</h2>
    Cette rubrique vous permet d’identifier les libellules les plus communes de Suisse romande.
    Vous pouvez sélectionner <b>une ou plusieurs options</b>  pour chaque critère.
    Il n’est <b> pas</b> obligatoire de répondre à <b>tous</b> les critères. 
    En maintenant le <b>doigt appuyé</b> sur une option, celle-ci s’affiche en plus grand avec une brève description.
    Pour visualiser <b> quelle libellule </b> correspond à vos réponses aux options, cliquez sur le bouton « Voir ».
  <button ion-button block (click)="dismiss()">Fermer</button>
</ion-content>
