<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Identifier
    </ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="presentPopover()">
            <ion-icon name="more"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <span *ngFor="let criter of criteria">
    <h6 class="criter-name">{{criter.name}}</h6>
    <table class="table-criteria">
      <tr class="table-content">
        <td *ngFor="let value of criter.values" class="criter-value">{{value.name}}</td>
      </tr>
    </table>
  </span>
  <button ion-button block (click)="getSelectedValues()">Values</button>
</ion-content>
