h6.criter-name{
  display: block;
  width: 100%;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  background: linear-gradient(rgb(210,210,210),rgb(240,240,240),rgb(240,240,240),rgb(210,210,210));
  border-radius: 5px;
  margin-bottom: 0;
}
table{
  width: 100%;
  height: 4em;
  .table-content{
    height: 4em;
    td{
      border: solid 1px black;
      height: 4em;
      width: 25%;
      display: inline-block;
    }
    .selected-value{
      border: 5px solid rgb(96,96,96);
      border-radius: 3px;
    }
  }
  margin-bottom: 0.5em;
}
