<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Identifier
    </ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="presentPopover($event)">
            <ion-icon name="more"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <span *ngFor="let criter of criteria">
    <h6 class="criter-name">{{criter.name}}</h6>
    <table class="table-criteria">
      <tr class="table-content">
        <td *ngFor="let value of criter.values" class="criter-value"><img src="assets/img/{{value.icon}}"><!--{{value.name}}--></td>
      </tr>
    </table>
  </span>
  <div id="space-btns"></div>
  <div id="div-btns">
      <table>
          <tr>
              <td>
                  <button ion-button full icon-left (click)="getSelectedValues()"><ion-icon name="search"> Voir</ion-icon></button>
              </td>
              <td>
                  <button ion-button full icon-left (click)="resetCriteria()"><ion-icon name="refresh"> Recommencer</ion-icon></button>
              </td>
          </tr>
      </table>
  </div>
</ion-content>
