<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Saisir une observation
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label color="primary">Nom de la libélule</ion-label>
            <ion-input placeholder="Text Input"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Lieu</ion-label>
            <ion-input placeholder="Text Input"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Commentaire</ion-label>
            <ion-input placeholder="Text Input"></ion-input>
        </ion-item>

        <img src= "./assets/img/aeshna_affinis.jpg" >

        <button ion-button block color="secondary" item-center>
            <ion-icon name="camera"></ion-icon>
            &nbsp;Prendre la photo 
        </button>
    </ion-list>
    <button ion-button block>Transmettre</button>
</ion-content>