<ion-header>
    <ion-navbar color="primary">
        <ion-title>
          Saisir une observation
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label color="primary">Label 1</ion-label>
            <ion-input placeholder="Text Input"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Label 2</ion-label>
            <ion-input placeholder="Text Input"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Label 3</ion-label>
            <ion-input placeholder="Text Input"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Label 4</ion-label>
            <ion-input placeholder="Text Input"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Label 5</ion-label>
            <ion-input placeholder="Text Input"></ion-input>
        </ion-item>
    </ion-list>
    <button ion-button block>Transmettre</button>
</ion-content>
