<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Saisir une observation
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item-group>
            <ion-item-divider color="light">Information sur l'espèce</ion-item-divider>
            <ion-item>
                <ion-label color="primary">Espèce observée</ion-label>
                <ion-input type="text" value="{{dragonflyName}}" disabled></ion-input>
                <button ion-button item-end icon-left (click)="openDragonFlyList()">
                    <ion-icon name="search"></ion-icon>
                </button>
            </ion-item>
            <ion-item>
                <ion-label color="primary">Date</ion-label>
                <ion-input type="text" value="{{date}}" disabled></ion-input>
            </ion-item>
        

            <div class="item row">
                <div col-7 class="col">
                    <ion-item >
                        <ion-label color="primary">Nb individus</ion-label>
                        <ion-input *ngIf="!checked" type="number" min=0 [(ngModel)]="nbIndividus"></ion-input>
                    </ion-item>
                </div>
                <div class="col">
                    <ion-item>
                        <ion-label color="primary">Inconnu</ion-label>
                        <ion-checkbox color="secondary" (ionChange)="unknownChecked()" [(ngModel)]="checked" checked="false" item-right></ion-checkbox>
                    </ion-item>
                </div>
            </div>

        <div class="item row">
            <div class="col">
                <ion-item>
                    <ion-label color="primary">Lat.</ion-label>
                    <ion-input type="text" value="{{latitude}}"></ion-input>

                </ion-item>
            </div>
            <div class="col">
                <ion-item>
                    <ion-label color="primary">Long.</ion-label>
                    <ion-input type="text" value="{{longitude}}"></ion-input>
                </ion-item>
            </div>
        </div>

    </ion-item-group>
        

        <ion-item>
            <div *ngIf="imageFile!=null" class="centerContent">
                <img src={{imageFile}}>
            </div>
        </ion-item>

        <!--
        <button ion-button block color="secondary" item-center (click)="galeriePicture()">
            <ion-icon name="folder"></ion-icon>
            &nbsp;Galerie photo
        </button>
        <button ion-button block color="secondary" item-center (click)="takePicture()">
            <ion-icon name="camera"></ion-icon>
            &nbsp;Prendre la photo
        </button>
        -->
    </ion-list>
    <button ion-button block (click)="showConfirm()">Saisir l'observation</button>
</ion-content>