<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{walk.nom}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <span>CARTE / IMAGE</span>
    {{walk.id}}. {{walk.nom}}
    <table class="tableDetail">
        <tr>
            <td>Niveau <img class="imgNiveauDiversite" src="img/diversite-{{walk.niveau}}.png"></td>
            <td>Diversite <img class="imgNiveauDiversite" src="img/diversite-{{walk.diversite}}.png"></td>
        </tr>
        <tr>
            <td>{{walk.longueur}} km</td>
            <td><ion-icon name="time"></ion-icon> {{walk.duree}}</td>
        </tr>
    </table>
    <p>
        {{walk.description}}
    </p>
    <h4>Espèces à découvrir</h4>
    <ul>
        <li *ngFor="let e of walk.especes">{{e.nom}} : {{months[e.periodeDebut+1]}} à {{months[e.periodeFin+1]}}</li>
    </ul>


    <button ion-button block>C'est parti</button>

</ion-content>
