<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            {{walk.name}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div id="carte">
        <img src="assets/img/{{walk.preview}}">
    </div>
    <table class="tableDetail">
        <tr>
            <td>
                <img class="pictoVariety" src="assets/img/picto-libelulle.png">
                <img class="imgDifficultyDiversity" src="assets/img/diversite-{{walk.diversity}}.png">
            </td>
            <td>
                <ion-icon class="calendar" name="md-calendar"></ion-icon> {{walk.period}}</td>
        </tr>
        <tr>
            <td>
                <ion-icon name="time"></ion-icon> {{walk.duration}}</td>
            <td>{{walk.length}} km</td>
        </tr>


    </table>
    <table class="access">
        <tr>
            <td>Accès</td>
            <td *ngFor="let a of access">
                <img src="{{a.imgSrc}}" [ngClass]="a.hidden ? 'opacity': 'noOpacity'" class="accessImg">
            </td>
        </tr>
    </table>

    <table class="other">
        <tr>
            <td>
                    <img src="assets/img/home.png" class="otherImg">{{walk.infrastructure}}
            </td>

        </tr>
        <tr>
            <td>
                <img src="assets/img/info.png" class="otherImg">{{walk.info}}
            </td>

        </tr>
        <tr>
            <td>
                    <img src="assets/img/map-with-a-pin-small-symbol-inside-a-circle.png" class="otherImg">{{walk.access}}
            </td>

        </tr>
    </table>

    <p>
        {{walk.description}}
    </p>

    <button ion-button block (click)="openPage()">C'est parti</button>

</ion-content>