<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            {{walk.name}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div id="carte">
        <img src="assets/img/{{walk.preview}}">
    </div>
    <table class="tableDetail">
        <tr>

            <td class="walkDiversity">
                Diversité  <img class="pictoDiversity" src="assets/img/picto-libelulle.png" *ngFor="let i of getNumber(walk.diversity)">
            </td>
            <td>
                <ion-icon class="calendar iconDetail" name="md-calendar"></ion-icon> {{walk.period}}</td>
        </tr>
        <tr>
            <td>
                <ion-icon class="iconDetail" name="time"></ion-icon> {{walk.duration}}</td>
            <td>{{walk.length}} km</td>
        </tr>


    </table>
    <table class="access">
        <tr>
            <td>Accès</td>
            <td *ngFor="let a of access">
                <img src="{{a.imgSrc}}" [ngClass]="a.hidden ? 'opacity': 'noOpacity'" class="accessImg">
            </td>
        </tr>
    </table>

    <table class="other">
        <tr>
            <td width="20%">
                    <img src="assets/img/home.png" class="otherImg">
            </td>
            <td>{{walk.infrastructure}}</td>

        </tr>
        <tr>
            <td width="20%">
                <img src="assets/img/info.png" class="otherImg">
            </td>
            <td>{{walk.info}}</td>

        </tr>
        <tr>
            <td width="20%">
                    <img src="assets/img/map-with-a-pin-small-symbol-inside-a-circle.png" class="otherImg">
            </td>
            <td>{{walk.access}}</td>

        </tr>
    </table>

    <p>
        {{walk.description}}
    </p>

    <button ion-button block (click)="openPage()">C'est parti</button>

</ion-content>