.imgDifficultyDiversity{
    height: 25%;
    vertical-align: bottom;
}
.tableDetail{
    width: 100%;
    td{
        width: 50%;
    }
    tr:first-child td{
        padding-bottom: 0.5em;
        padding-top: 0.5em;
    }
}
#carte{
    width: 100%;

    img{
        border-radius: 10px;
    }
    margin-bottom: 1em;
}
img.pictoVariety{
    width: 20%;
    vertical-align: bottom;
}
.opacity{
    opacity: 0.2;
}
.accessImg{
    width: 30%;
}