<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{dragonfly.commonName}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <div class="centerContent">
        <img src="assets/img/{{dragonfly.headerPicture}}" alt="{{dragonfly.commonName}}" class="headerPicture"><br>
        <i class="latinName">{{dragonfly.latinName}}</i>
    </div>
    <p class="share">Partager</p>
    <p class="observation">Transmettre l'observation</p>
    <table class="tableCriteria">
        <tr *ngFor="let criter of criteria;let i=index">
            <td>{{criter}}</td>
            <td>{{dragonfly.criteria[i]}}</td>
        </tr>
    </table>
</ion-content>
