<ion-content padding>
    <div class="centerContent">
        <img src="assets/img/{{dragonfly.headerPicture}}" alt="{{dragonfly.commonName}}" class="headerPicture"><br>
        <i class="latinName">{{dragonfly.latinName}}</i>
    </div>
    <p class="share">Partager</p>
    <p class="observation">Transmettre l'observation</p>
    <table class="tableCriteria">
        <tr *ngFor="let criter of criteria;let i=index">
            <td>{{criter.name}}</td>
            <td><span *ngFor="let value of dragonfly.criteria[i]">{{criter.values[value].name}}<br></span></td>
        </tr>
    </table>
</ion-content>
