<ion-content padding>
    <div class="centerContent">
        <img src="assets/img/{{dragonfly.headerPicture}}" alt="{{dragonfly.commonName}}" class="headerPicture"><br>
        <i class="latinName">{{dragonfly.latinName}}</i>
    </div>
    <p class="share">Partager</p>
    <p class="observation"><button ion-button (click)="observationTransmit()">Transmettre l'observation</button></p>
    <table class="tableCriteria">
        <tr *ngFor="let criter of criteria;let i=index" [ngStyle]="getStyle(i)">
            <td>{{criter.name}}</td>
            <td *ngIf="dragonfly.criteria[i].length>1">
              <ul><li *ngFor="let value of dragonfly.criteria[i]">{{criter.values[value].name}}</li></ul>
            </td>
            <td *ngIf="dragonfly.criteria[i].length <=1">
              {{criter.values[dragonfly.criteria[i]].name}}
            </td>
        </tr>
    </table>
</ion-content>
