<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{dragonfly.commonName}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <p>{{dragonfly.description}}</p>
    <h4>Habitats</h4>
    <ul>
        <li *ngFor="let habitat of dragonfly.habitats">{{habitat}}</li>
    </ul>
    <h4>Comportement</h4>
    <p>{{dragonfly.behavior}}</p>
    <h4>Période de vol</h4>
    <table class="tableFly">
        <tr>
            <td>avr.</td>
            <td>mai</td>
            <td>juin</td>
            <td>juil.</td>
            <td>août</td>
            <td>sept.</td>
            <td>oct.</td>
            <td>nov.</td>
        </tr>
        <tr>
            <td class="flyPeriod" *ngFor="let p of dragonfly.flyPeriod" [ngStyle]="{'background-color': 'rgba(144,238,144,'+ (p) +')'}">
                &nbsp;
            </td>
        </tr>
    </table>
    <p class="anecdote">{{dragonfly.anecdote}}</p>
    <h4>Menace</h4>
    <p class="threat">{{dragonfly.threat}}</p>
    <h4>Pour en savoir plus</h4>
    <span class="links" *ngFor="let link of dragonfly.links"><a href="{{link.link}}">{{link.value}}</a><br></span>
</ion-content>
